.home-bg {
  background-image: url("../../../assets/home-bg.jpg");
  /* background-image: url("../../../assets/download.jpe"); */
  background-color: #cccccc;
  height: calc(100vh - 76px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.home {
  position: relative;
  width: 100%;
  height: calc(100vh - 76px);
}
.video {
  width: 100%;
  height: calc(100vh - 76px);
  /* top: 0; */
  /* left: 0; */
  object-fit: cover;
}
.layer {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  width: 100%;
  height: calc(100vh - 76px);
  /* width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}
